html, body {
  height: 100%;
  margin: 0;
}

table {
  height: 100%;
  width: 100%;
}
button, input, select, textarea {
  font-family : inherit;
  font-size   : 100%;
}

#blocklyArea {
  height: 99%;
  background: #888888;
  text-align: center;
}
#outputArea{
    float: right;
    width: 49%;
    height: 50%;
}
#blockTextBox{
    position: absolute;
    left: 80px;
    top: 40px;
    font-size: 18px;
    border-radius: 3px;
    visibility: hidden;
}
#blockTextBox:focus {
/*フォーカスした時に影をつける*/
border: 0px;
box-shadow: 0px 0px 5px 5px rgba(0,0,0,0.2);
/*フォーカスした時に枠線を太く濃く*/
border: solid 2px #666;
}

#blocklyDiv{
    float: left;
    width: 50%;
    height: 99%;
}
#p5Canvas{
    float:right;
    width: 40%;
    height: 50%;
}
